<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booked Successfully</title>
</head>
<body>
    <h1>Appointment Booked Successfully</h1>
    <p>Thank you for booking your appointment with us. We look forward to seeing you at the specified date and time.</p>
    
    <p>For any inquiries or changes, please contact our support team.</p>
    <p><a href="{% url 'index' %}">Return to Homepage</a></p>
</body>
</html>
